name: Python Merge Schedule
on:
  pull_request:
    types:
      - opened
      - edited
  schedule:
    - cron: '*/10 * * * *'

jobs:
  python-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: rongxin-liu/python-merge-schedule@v1.0
        env:
          TIMEZONE: America/New_York
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
